workspace-concurrency=Infinity
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=esbuild
public-hoist-pattern[]=typescript
public-hoist-pattern[]=prettier
public-hoist-pattern[]=@swc*
public-hoist-pattern[]=jest
public-hoist-pattern[]=rollup*
public-hoist-pattern[]=@rollup*
public-hoist-pattern[]=@babel/plugin-proposal-optional-chaining
prefer-workspace-packages=true